<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert</title>
</head>
<body>
    <h1>insert</h1>
    <form action="/insert" method="POST">
        <div>
            <label for="userEmail">Enter UserEmail</label>
            <input type="email" name="userEmail" id="userEmail" placeholder="UserEmail">
         </div>
         <div>
            <label for="password">Enter password</label>
            <input type="password" name="password" id="password" placeholder="UserPassword">
         </div>
        <div>
        <label for="userName">Enter UserName</label>
        <input type="text" name="userName" id="userName" placeholder="UserName">
     </div>
    
     <div>
        <label for="totalOrder">Enter order</label>
        <input type="number" name="totalOrder" id="totalOrder" placeholder="totalOrder">
     </div>
     <div>
        <label for="userImage">Enter UserImage</label>
        <input type="text" name="userImage" id="userImage" placeholder="image">
     </div>
     <button>insert</button>
    </form>
   
</body>
</html>