<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>insert</h1>
    <form action="/login" method="POST">
        <div>
            <label for="userEmail">Enter UserEmail</label>
            <input type="email" name="userEmail" id="userEmail" placeholder="UserEmail">
         </div>
         <div>
            <label for="password">Enter password</label>
            <input type="password" name="password" id="password" placeholder="UserPassword">
         </div>
       
    
     
     <button>insert</button>
    </form>
   
</body>
</html>